@if (technique) {
  <div class="technique-container">
    <div class="back-button-container">
      <button class="btn" (click)="navigateToJudgingCriteria()">{{ 'techniqueDetail.backToCriteria' | translate }}</button>
    </div>
    <app-card [title]="technique.technique_name">
      <div class="technique-content">
        <div class="technique-category">
          <h3>{{ 'techniqueDetail.category' | translate }}</h3>
          <p>{{ technique.category }}</p>
        </div>

        <div class="technique-deductions">
          <h3>{{ 'techniqueDetail.deductionPoints' | translate }}</h3>
          <ul>
            @for (deduction of technique.deduction_content; track deduction) {
              <li>{{ deduction }}</li>
            }
          </ul>
        </div>

        <div class="technique-code">
          <p><strong>{{ 'techniqueDetail.techniqueCode' | translate }}</strong> {{ technique.code }}</p>
        </div>

        <div class="technique-questions">
          <h3>{{ 'techniqueDetail.practiceQuestions' | translate }}</h3>
          <div class="accordion">
            @for (question of technique.questions; track question; let i = $index) {
              <div class="accordion-item" [ngClass]="{'active': activeIndex === i}">
                <div class="accordion-header" (click)="toggleAccordion(i)">
                  <p class="question-text">{{ question.question }}</p>
                  <span class="accordion-icon">{{ activeIndex === i ? '-' : '+' }}</span>
                </div>
                <div class="accordion-content">
                  <p class="answer-text">{{ question.answer }}</p>
                </div>
              </div>
            }
          </div>
        </div>
      </div>

      <div card-footer>
        <a routerLink="/practice" class="btn">{{ 'techniqueDetail.backToPractice' | translate }}</a>
      </div>
    </app-card>
  </div>
} @else if (loading) {
  <div class="loading-container">
    <app-card [title]="'techniqueDetail.loading' | translate">
      <p>{{ 'techniqueDetail.loadingMessage' | translate }}</p>
    </app-card>
  </div>
} @else {
  <div class="error-container">
    <app-card [title]="'techniqueDetail.error' | translate">
      <p>{{ 'techniqueDetail.errorMessage' | translate }}</p>
      <div card-footer>
        <a routerLink="/practice" class="btn">{{ 'techniqueDetail.backToPractice' | translate }}</a>
      </div>
    </app-card>
  </div>
}
