<div class="mistakes-container card-container">
  <div class="header">
    <h2>{{ 'mistakes.title' | translate }}</h2>
    @if (mistakes.length > 0) {
      <button class="clear-btn" (click)="clearAllMistakes()">{{ 'mistakes.clearAll' | translate }}</button>
    }
  </div>

  @if (loading) {
    <div class="loading-indicator">
      {{ 'mistakes.loading' | translate }}
    </div>
  }

  @if (!loading && mistakes.length === 0) {
    <div class="no-mistakes">
      <app-card [title]="'mistakes.noMistakes.title' | translate">
        <p>{{ 'mistakes.noMistakes.description1' | translate }}</p>
        <p class="storage-notice"><i>{{ 'mistakes.noMistakes.description2' | translate }}</i></p>
      </app-card>
    </div>
  }

  @if (!loading && mistakes.length > 0) {
    <div class="mistakes-list">
      @for (category of objectKeys(groupedMistakes); track category) {
        <div class="category-section">
          <h3 class="category-title">{{ category }}</h3>
          <div class="mistakes-grid card-grid">
            @for (mistake of groupedMistakes[category]; track mistake.technique_code) {
              <app-card
                [title]="mistake.technique_name"
                [subtitle]="('mistakes.mistakeInfo.code' | translate) + ' ' + mistake.technique_code + ' | ' + ('mistakes.mistakeInfo.mistakes' | translate) + ' ' + mistake.count"
                [hasFooter]="true"
              >
                <div class="mistake-info">
                  <p class="question"><strong>{{ 'mistakes.mistakeInfo.question' | translate }}</strong> {{ mistake.question }}</p>
                  <p class="answer"><strong>{{ 'mistakes.mistakeInfo.answer' | translate }}</strong> {{ mistake.answer }}</p>
                </div>
                <div card-footer class="card-footer-buttons">
                  <button class="btn primary-btn" (click)="navigateToTechnique(mistake.technique_code)">{{ 'mistakes.mistakeInfo.viewDetails' | translate }}</button>
                </div>
              </app-card>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
