<div class="main-container">
  <header class="main-header">
    <h1>{{ 'mainPage.title' | translate }}</h1>
  </header>
  <div class="content">
    <div class="welcome-section">
      <app-card [title]="'mainPage.welcome.title' | translate">
        <p>{{ 'mainPage.welcome.description1' | translate }}</p>
        <p>{{ 'mainPage.welcome.description2' | translate }}</p>
      </app-card>
    </div>

    <div class="features-section">
      <div class="features-grid">
        <app-card [title]="'mainPage.features.judgingCriteria.title' | translate" [subtitle]="'mainPage.features.judgingCriteria.subtitle' | translate">
          <p>{{ 'mainPage.features.judgingCriteria.description' | translate }}</p>
          <div card-footer>
            <a routerLink="/criteria" class="btn">{{ 'mainPage.features.judgingCriteria.button' | translate }}</a>
          </div>
        </app-card>

        <app-card [title]="'mainPage.features.practice.title' | translate" [subtitle]="'mainPage.features.practice.subtitle' | translate">
          <p>{{ 'mainPage.features.practice.description' | translate }}</p>
          <div card-footer>
            <a routerLink="/practice" class="btn">{{ 'mainPage.features.practice.button' | translate }}</a>
          </div>
        </app-card>

        <app-card [title]="'mainPage.features.mistakes.title' | translate" [subtitle]="'mainPage.features.mistakes.subtitle' | translate">
          <p>{{ 'mainPage.features.mistakes.description' | translate }}</p>
          <div card-footer>
            <a routerLink="/mistakes" class="btn">{{ 'mainPage.features.mistakes.button' | translate }}</a>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
