<div class="sidenav" [class.collapsed]="isCollapsed">
  <div class="sidenav-heade">
    @if (!isCollapsed) {
      <h2>Wushu Learning</h2>
    } @else {
      <h2 class="collapsed-title">WL</h2>
    }
  </div>
  <div class="sidenav-content">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          @if (!isCollapsed) {
            <span>Home</span>
          }
        </a>
      </li>
      <li>
        <a routerLink="/judging-criteria" routerLinkActive="active">
          @if (!isCollapsed) {
            <span>Judging Criteria</span>
          }
        </a>
      </li>
      <li>
        <a routerLink="/mistakes" routerLinkActive="active">
          @if (!isCollapsed) {
            <span>Common Mistakes</span>
          }
        </a>
      </li>
      <li>
        <a routerLink="/practice" routerLinkActive="active">
          @if (!isCollapsed) {
            <span>Practice</span>
          }
        </a>
      </li>
      <li>
        <a routerLink="/resources" routerLinkActive="active">
          @if (!isCollapsed) {
            <span>Resources</span>
          }
        </a>
      </li>
    </ul>
  </div>
    <button class="toggle-btn" (click)="toggleNavigation()">
      @if (isCollapsed) {
        <i class="toggle-icon">➡️</i>
      } @else {
        <i class="toggle-icon">⬅️</i>
      }
    </button>
</div>
