<div class="sidenav" [class.collapsed]="isCollapsed">
  <div class="sidenav-header">
    <h2 *ngIf="!isCollapsed">Wushu Learning</h2>
    <h2 *ngIf="isCollapsed" class="collapsed-title">WL</h2>
  </div>
  <div class="sidenav-content">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span *ngIf="!isCollapsed">Home</span>
        </a>
      </li>

      <li>
        <a routerLink="/judging-criteria" routerLinkActive="active">
          <span *ngIf="!isCollapsed">Judging Criteria</span>
        </a>
      </li>
      <li>
        <a routerLink="/mistakes" routerLinkActive="active">
          <span *ngIf="!isCollapsed">Common Mistakes</span>
        </a>
      </li>
      <li>
        <a routerLink="/practice" routerLinkActive="active">
          <span *ngIf="!isCollapsed">Practice</span>
        </a>
      </li>
      <li>
        <a routerLink="/resources" routerLinkActive="active">
          <span *ngIf="!isCollapsed">Resources</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="toggle-btn" (click)="toggleNavigation()">
    <i *ngIf="isCollapsed" class="toggle-icon">➡️</i>
    <i *ngIf="!isCollapsed" class="toggle-icon">⬅️</i>
  </div>
</div>
